.container {
	display: none;
	max-width: 1200px;
	// min-width: 768px;
	margin: auto;
	.top_menu {
		margin: 30px 0 50px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		ul {
			display: flex;
			align-items: center;
			li {
				margin-left: 30px;
				border-radius: 6px;
				border: 1px solid #fff;
				font-weight: 600;
				font-family: 'open sanse', sans-serif;
				cursor: pointer;
			}
		}
	}

	// 사이트 로고
	.code_tag{
		font-size: 25px;
		font-weight: 600;
		span:nth-child(1){
			color: #e91e63;
		}
		span:nth-child(2){
			color: #061d35;
		}
		span:nth-child(3){
			color: #36d2d2;
		}
	}

	.footer {
		padding: 30px 0 15px 0;
		text-align: right;
		.copyright{
			text-align: center;
			.code_tag{
				display: inline-block;
				font-size: 14px;
			}
		}
		.go_top{
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color: #D3B55D;
			color: white;
			border-radius: 50%;
			font-size: 14px;
		}
	}
}