.cmd_sec {
	overflow-x: scroll;
	&:before{
		position: absolute; 
		top: 0; 
		left: 0;
		width: 100%;
		height: 20px; 
		background-color: #828282;
		border-radius: 6px 6px 0 0;
		display: block;
		content: 'Allow me reintroduce myself';
		clear: both;
		box-sizing: border-box;
		padding-left: 40px;
	}

	position: relative;
	background-color: #000000;
	color: #ffffff;
	padding: 40px;
	border-radius: 8px;
	font: bold 100% Consolas, Monaco, monospace;
	> p {
		margin-bottom: 18px;
		line-height: 1.4;
	}
	li{
		margin-bottom: 8px;
		.ch {
			display: inline-block;
			overflow: hidden;
			&::after {
				content: '> ';
			}
		}
		.cd {
			display: inline-block;
			white-space: nowrap;
			border-right: .05em solid transparent;
			overflow: hidden;
			opacity: 0;
		}
	}
}

$leng_names:11;
$leng_inter:39;
$leng_hobby:30;
$leng_study:54;
$sec_names:$leng_names/15;
$sec_inter:$sec_names+$leng_inter/15;
$sec_hobby:$sec_inter+$leng_hobby/15;
$sec_study:$sec_hobby+$leng_study/15;

@mixin fnTyping($leng, $delay, $c_delay, $repeat:backwards) {
	width: $leng+ch;
	animation:typing $leng/15+s steps($leng) $delay+1.1+s 1 normal forwards, caret if($repeat==infinite,	1s,	1.1+$c_delay+s) steps(1) $repeat;
}
.container{
	.cmd_sec {
		li:nth-child(1) .cd {
			@include fnTyping($leng_names, 0, $sec_names);
		}
		li:nth-child(2) .cd {
			@include fnTyping($leng_inter, $sec_names, $sec_inter);
		}
		li:nth-child(3) .cd {
			@include fnTyping($leng_hobby, $sec_inter, $sec_hobby);
		}
		li:nth-child(4) .cd {
			@include fnTyping($leng_study, $sec_hobby, $sec_study, infinite);
		}
	}
}

@keyframes typing {
	from {
		width: 0;
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}
@keyframes caret {
	50% {
		border-right-color: #fff;
	}
	100% {
		border-right-color: transparent;
	}
}

@media screen and (max-width: 420px) { 
	.cmd_sec{
		padding: 25px 15px;
	}
}