$square_shadow: 0px 3px 1px -6px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
.cmd_sec {
	margin-top: 50px;
	margin-bottom: 200px;
	overflow-x: scroll;
	&:before{
		position: absolute; 
		top: 0; 
		left: 0;
		width: 100%;
		height: 20px; 
		background-color: #828282;
		border-radius: 6px 6px 0 0;
		display: block;
		content: 'Allow me reintroduce myself';
		clear: both;
		box-sizing: border-box;
		padding-left: 40px;
	}
	position: relative;
	background-color: #000000;
	color: #ffffff;
	padding: 40px;
	border-radius: 8px;
	font: bold 100% Consolas, Monaco, monospace;
	> p {
		margin-bottom: 18px;
		line-height: 1.4;
	}
	li{
		margin-bottom: 8px;
		.ch {
			display: inline-block;
			overflow: hidden;
			&::after {
				content: '> ';
			}
		}
		.cd {
			display: inline-block;
			white-space: nowrap;
			border-right: .05em solid transparent;
			overflow: hidden;
			opacity: 0;
		}
	}
}

$leng_names:11;
$leng_inter:35;
$leng_hobby:30;
$leng_study:29;
$sec_names:$leng_names/15;
$sec_inter:$sec_names+$leng_inter/15;
$sec_hobby:$sec_inter+$leng_hobby/15;
$sec_study:$sec_hobby+$leng_study/15;

@mixin fnTyping($leng, $delay, $c_delay, $repeat:backwards) {
	width: $leng+ch;
	animation:typing $leng/15+s steps($leng) $delay+1.1+s 1 normal forwards, caret if($repeat==infinite,	1s,	1.1+$c_delay+s) steps(1) $repeat;
}
.container{
	.cmd_sec {
		li:nth-child(1) .cd {
			@include fnTyping($leng_names, 0, $sec_names);
		}
		li:nth-child(2) .cd {
			@include fnTyping($leng_inter, $sec_names, $sec_inter);
		}
		li:nth-child(3) .cd {
			@include fnTyping($leng_hobby, $sec_inter, $sec_hobby);
		}
		li:nth-child(4) .cd {
			@include fnTyping($leng_study, $sec_hobby, $sec_study, infinite);
		}
	}
}

@keyframes typing {
	from {
		width: 0;
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}
@keyframes caret {
	50% {
		border-right-color: #fff;
	}
	100% {
		border-right-color: transparent;
	}
}

@media screen and (max-width: 420px) { 
	.cmd_sec{
		padding: 25px 15px;
		>p{font-size: 12px;}
		li{font-size: 12px;}
	}
}
#flowChart {
	opacity: 0;
}
.myinfo_sec{
	h2{ 
		margin: 60px 0 30px 50px;
		font-family: 'Open Sans', sans-serif;
	}
	.df{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		transition: all 1.5s;
		.arrow_sec{
			position: relative;
			margin: 28px 0;
			width: 50px;
			background-image: url(../img/bg_line_grey.png);
			background-repeat: repeat-y;
			background-position: 50% 0;
			&:nth-of-type(2) {
				height: 220px;
			}
			&:nth-of-type(3) {
				height: 350q;
			}
			&:before{
				display: block;
				content: '';
				clear: both;
				position: absolute;
				top: 100%;
				left: -50%;
				width: 100%;
				height: 5px;
				background-image: url(../img/bg_line_grey_hor.png);
				background-repeat: repeat-x;
				background-position: 100% 0;
			}
			&::after{
				display: block;
				content: '';
				clear: both;
				position: absolute;
				top: 0;
				left: 50%;
				width: 100%;
				height: 5px;
				background-image: url(../img/bg_line_grey_hor.png);
				background-repeat: repeat-x;
				background-position: 100% 0;
			}
		}
		> ul {
			position: relative;
			// width: 25%;
			&.company_1th{

			}
			&.company_2th{
				height: 280px;
			}
			&.company_3th{
				height: 390px;
			}
			&.company_4th{
		
			}
			li{
				position: relative;
				margin-bottom: 50px;
				width: 125px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				background-image: url(../img/bg_flow_chart.png);
				background-size: 125px auto;
				color: #000;
				font-weight: bold;
				font-size: 14px;
				&.start_end{
					background-position-y: 0px;
				}
				&.preparation{
					background-position-y: -70px;
				}
				&.decision{
					background-position-y: -140px;
				}
				&.process{
					background-position-y: -210px;
				}
				&.document{
					background-position-y: -280px;
					&:before{
						display: block;
						content: '';
						clear: both;
						position: absolute;
						top: -4px;
						left: -4px;
						width: 20px;
						height: 20px;
						background:url(../img/link.png) 50% 50% no-repeat;
						background-size: contain;
					}
				}
				&:after{
					display: block;
					content: '';
					clear: both;
					position: absolute;
					bottom: -40px;
					width: 100%;
					height: 30px;
					background: url(../img/flow_chart_arrow.png) 50% 100% no-repeat;
				}
				&:last-child{
					margin-bottom: 0;
					&:after{
						display: none;
					}
				}
				a{
					&.zi-1{
						position: absolute;
						z-index: -1;
					}
					display: block;
					color: chocolate;
				}
			}
			.line_2{
				line-height: initial;
				div{
					padding-top: 14px;
				}
			}
			.line_3{
				line-height: initial;
				div{
					padding-top: 5px;
				}
			}
		}
	}
}

@media screen and (max-width: 420px) { 
	.myinfo_sec{
		h2{ 
			margin: 40px 0 20px 0;
		}
		.df{
			display: block;
			ul{
				&:last-of-type{
					li:last-child{
						&:after{
							display: none;
						}
					}
				}
				li:nth-child(n){
					margin: 0 auto 50px;
					&:after{
						display: block;
					}
				}
			}
			.arrow_sec:nth-child(n){
				// display: none;
				width: 100%;
				height: 1px;
				background: none;
				&:before, &:after{
					display: none;
				}
			}
		}
	}
}

.certificate_sec {
	padding: 50px;
	padding-top: 100px;
	background: rgba(238, 238, 238, 0.75);
	h2{
		margin-bottom: 30px;
		font-family: 'Open Sans', sans-serif;
		&:first-of-type {
			margin-top: 60px;
		}
	}
	.ul_txt{
		margin-bottom: 50px;
		background-color: #ffffff;
		padding: 10px 6px;
		border-radius: 3px;
		box-shadow: 0px 25px 0px -29px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 1.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.1);;
		li {
			line-height: 1.6;
			em{
				font-weight: bold;
				font-style: normal;
			}
		}
	}
	.ul_major{
		background: #fff url(../img/ico_college.png) 100% 50% no-repeat;
		background-size: contain;
	}
	.ul_certificate {
		display: flex;
		li{
			max-width: 32%;
			margin-left: 2%;
			margin-bottom: 30px;
			background-color: #ffffff;
			border-radius: 4px;
			&:nth-child(1){
				margin-left: 0;
				img{padding: 20% 0;}
			}
			img{
				border-radius: 4px;
				max-width: 100%;
				box-shadow: 0px 3px 1px -6px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
			}
		}
	}
}
@media screen and (max-width: 420px) { 
	.certificate_sec {
		padding: 10px;
		.ul_certificate{
			display: block;
			li{
				&:nth-child(n){
					margin-left: 10px;
					margin-right: 10px;
				}
				max-width: 100%;
			}
		}
	}
}