.portfiolio_sec{
  .flat_box{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    li{
      position: relative;
      vertical-align: middle;
      width: 50%;
      height: 200px;
      box-sizing: border-box;
      text-align: center;
      box-sizing: border-box;
      transition: all 0.2s;
      &:nth-child(1) {
        background: linear-gradient(90deg, rgba(211,47,47,1) 0%, rgba(244,67,54,1) 100%);
      }
      &:nth-child(2) {
        background: linear-gradient(90deg, rgba(255,160,0,1) 0%, rgba(255,193,7,1) 100%);
      }
      &:nth-child(3) {
        background: linear-gradient(90deg, rgba(56,142,60,1) 0%, rgba(76,175,80,1) 100%);
      }
      &:nth-child(4) {
        background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(33,150,243,1) 100%);
      }
      &:nth-child(5) {
        background: linear-gradient(90deg, rgba(48,63,159,1) 0%, rgba(63,81,181,1) 100%);
      }
      &:nth-child(6) {
        background: linear-gradient(90deg, rgba(81,45,168,1) 0%, rgba(103,58,183,1) 100%);
      }
      &.by_react{
        &:before{
          background: url(../img/ico_wh_react.png) 0 0 no-repeat;
          background-size: contain;
        }
      }
      &.by_js{
        &:before{
          background: url(../img/ico_js.png) 0 0 no-repeat;
          background-size: contain;
        }
      }
      &.with_nodejs{
        &:after{
          background: url(../img/ico_nodejs.png) 0 0 no-repeat;
          background-size: contain;
        }
      }
      &.no_ready{
        a {
          cursor: not-allowed;
        }
      }
      &:before, &:after{
        display: block;
        content: '';
        clear: both;
        position: absolute;
        top: 15px;
        width: 38px;
        height: 38px;
      }
      &:before{
        left: 15px;
      }
      &:after{
        left: 58px;
      }
      a{
        display: block;
        height: 100%;
        color: #ffffff;
        font-size: 16px;
        > span{
          display: inline-block;
          padding-top: 75px;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .portfiolio_sec{
    .flat_box{
      width:100%;
    }
  }
}