.skill_sec{
  padding: 50px;
  background: rgba(238, 238, 238, 0.75);
  h2{
    margin: 60px 0 20px 0;
    font-family: 'Open Sans', sans-serif;
  }
  ul.web{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    li{
      padding: 10px;
      margin-bottom: 20px;
      width: 23%;
      min-width: 240px;
      box-sizing: border-box;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      border-radius: 3px;
      &.react{
        background-color: #3EC6C6;
        .ico_sec{
          background-image: url(../img/ico_react.png);
        }
      }
      &.node{
        background-color: #B8DE6F;
        .ico_sec{
          background-image: url(../img/ico_node.png);
        }
      }
      &.webpub{
        background-color: #ffc107;
        .ico_sec{
          background-image: url(../img/ico_webpub.png);
        }
      }
      &.spring{
        background-color: #4caf50;
        .ico_sec{
          background-image: url(../img/ico_spring.png);
        }
      }
      &:hover .ico_sec {
        transform: scale(1.04);
        transition: all 0.2s;
      }
      div.ico_sec{
        margin-bottom: 20px;
        height: 100px;
        background-size: contain;
        background-color: #ffffff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 6px;
      }
      .txt_sec{
        padding: 20px 15px;
        min-height: 280px;
        background-color: rgba(255, 255, 255, 0.875);
        border-radius: 3px;
        dt{
          margin-bottom: 15px; 
          font-size: 22px; 
          font-weight: 600;
          font-family: 'Open Sans', sans-serif;
        }
        dd{
          margin-bottom: 8px;
          line-height: 1.4;
        }
      }
    }
  }

  ul.etc{
    // 위의 ul 스타일 상속
    @extend .web;
    li{
      .ico_linux{
        background: url(../img/ico_linux.png) 50% 50% no-repeat;
      }
      .ico_git{
        background: url(../img/ico_git.png) 50% 50% no-repeat;
      }
      &.linux{
        background-color: #FFE500;
      }
      &.git{
        background-color: #ff5722;
      }
      &.code_style{
        background-color: #27527D;
        .ico_sec{
          line-height: 100px;
          text-align: center;
          font-size: 50px;
        }
      }
      &:nth-child(4){
        background-color: transparent;
        visibility: hidden;
      }
    }
  }
}